DATABASE_URL=
JWT_SECRET=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=


STARTAWY_SECRET_KEY=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_SOCKET_URL=
NEXT_PUBLIC_BACKEND_URL=